# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/
.cache/
pip-wheel-metadata/

# Virtual envs
.venv/
venv/
ENV/
env/

# =========================
# Django
# =========================
*.sqlite3
db.sqlite3
db.sqlite3.*
media/
staticfiles/
*.log


# On versionne la DB principale 
!db.sqlite3
db.sqlite3.*

# On versionne certaines images
!media/
media/*
!media/projects/
!media/projects/**

# autoriser les notebooks
!media/notebooks/
!media/notebooks/**

# =========================
# Node
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
build/


# =========================
# OS / editors
# =========================
.DS_Store
._*
Thumbs.db
.vscode/
.idea/

# =========================
# Env
# =========================
.env
.env.*
