# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/
.cache/
pip-wheel-metadata/

# Virtual envs
.venv/
venv/
ENV/
env/

# =========================
# Django
# =========================
*.sqlite3
db.sqlite3
db.sqlite3.*
media/
staticfiles/
*.log

# --- Exceptions (pour portfolio / démo en prod) ---
# On versionne la DB principale (pas les backups)
!db.sqlite3
db.sqlite3.*

# On versionne seulement certaines images media (pas tout media)
!media/
media/*
!media/projects/
!media/projects/**


# =========================
# Node
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
build/

# =========================
# Tailwind / front build artifacts (optionnel)
# =========================
# Si vous régénérez style.css via npm, vous pouvez ignorer le fichier compilé :
# static/css/style.css

# =========================
# OS / editors
# =========================
.DS_Store
._*
Thumbs.db
.vscode/
.idea/

# =========================
# Env
# =========================
.env
.env.*
