
.custom-heading {
    font-size: 60px; /* Taille spécifique */
    font-weight: bold; /* Texte gras */
    color: #87CEEB; /* Couleur violette */
    text-align: center; /* Centrage horizontal */
    margin: 1px 0; /* Espacement vertical */
}

/* Styles pour la grille principale */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* Carte individuelle */
.project-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Image des projets */
.custom-image {
    width: 80px; /* Taille ajustée pour les images */
    height: 80px;
    object-fit: cover;
    border-radius: 50%; /* Image ronde */
    margin-bottom: 10px;
}

/* Contenu des cartes */
.custom-content {
    margin-top: 10px;
}

.custom-title {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
}

.custom-description {
    font-size: 14px;
    color: #555555;
    margin-top: 5px;
}

.custom-technologies {
    font-size: 12px;
    color: #6b7280; /* Couleur grise */
    margin-top: 10px;
    font-style: italic;
}

.custom-heading {
  font-size: 60px;
  font-weight: bold;
  color: #87CEEB;
  text-align: center;
  margin: 1px 0;
}
.project-card{
  display: block;
  color: inherit;
  text-decoration: none;
}

