{% extends 'projects/base.html' %}
{% load static %}

{% block content %}
<div class="container my-8 mx-auto px-4">
    <h1 class="text-4xl font-bold text-center text-blue-700 mb-8">
        Notebook pour le projet : {{ project.title }}
    </h1>
    
    <!-- Iframe pour visualiser le notebook -->
    <div class="notebook-container">
        <iframe src="{{ project.notebook.url }}" width="100%" height="800px" frameborder="0"></iframe>
    </div>
    
    <!-- Lien vers GitHub -->
    <div class="text-center mt-4">
        {% if project.github %}
            <a href="{{ project.github }}" target="_blank" class="btn btn-primary">
                Voir le code sur GitHub
            </a>
        {% else %}
            <p class="text-danger">Pas de lien GitHub disponible pour ce projet.</p>
        {% endif %}
    </div>
</div>
{% endblock %}